<app-header></app-header>
<main>
    <section class="jumbotron jumbotron-fluid pb-0 bg-dark">
      <div class="bg o-5" style="background-image:url(images/contact.jpg);"></div>
      <div class="container text-white py-5">
        <div class="row">
          <div class="col-lg-8 offset-lg-2"> 
            <h1 class="massive in-left"><span>Contact</span></h1>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-lg-5 offset-lg-2">
            <p class="in-top">Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.                    </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <h2 class="mt-5">Write To Us</h2>
            <form class="mt-4 mb-n10">
              <div class="form-group">
                <input class="form-control" id="name" type="text" placeholder="John Doe">
              </div>
              <div class="form-group">
                <input class="form-control" id="email" type="email" placeholder="Email">
              </div>
              <div class="form-group">
                <textarea class="form-control" id="message" rows="8" placeholder="Message"></textarea>
              </div>
              <button class="btn" type="submit">Send</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    
<section class="pb-10 border-bottom pb-6">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2" >
          <h2  style="color: #000000;">Want know more? <br>Feel free to contact us!</h2>
          <div class="border-bottom my-5"></div>
        </div>
      </div>
      <div class="row size-sm">
        <div class="col-lg-2 offset-lg-2 mb-3">
          <p  style="color: #000000;"><strong  style="color: #000000;">Address</strong><br>National Institute of Technology Tiruchirappalli<br>Tanjore Main Road, NH67 <br>near BHEL<br>Tiruchirappalli<br> Tamil Nadu 620015</p>
        </div>
        <iframe class="col-lg-4 offset-lg-2 mb-3" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.6824538839965!2d78.81102941480056!3d10.758938092333393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3baa8d47758e1ae1%3A0xb3e16389eeab05a!2sNational%20Institute%20of%20Technology%20Tiruchirappalli!5e0!3m2!1sen!2sin!4v1645024663711!5m2!1sen!2sin" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        <div class="col-lg-2 offset-lg-2 mb-3">
          <p  style="color: #000000;"><strong  style="color: #000000;">Phone</strong><br>+91 63855 40655</p>
        </div>
        <div class="col-lg-5 offset-lg-2 mb-3">
          <p  style="color: #000000;"><strong  style="color: #000000;">Email</strong><br>contact@graphique.club</p>
        </div>
        <div class="col-lg-2 offset-lg-2 mb-3">
          <p  style="color: #000000;"><strong  style="color: #000000;">Points of Contact</strong><br>graphique.club</p>
        </div>
        <div class="col-lg-2 offset-lg-2 mb-3">
          <p  style="color: #000000;"><strong  style="color: #000000;">Social Media</strong><br>@graphique.nitt</p>
        </div>
      </div>
    </div>
  </section>
  </main>
  <app-footer></app-footer>