<header class="fixed-top ">
    <div class="navbar"><a class="navbar-brand" href="/home"> <img class="default" alt="Graphique" src="assets/logowhite.png"><img class="inverted" alt="Graphique" src="assets/logowhite.png"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"><span class="toggle-label">Menu</span><span class="toggle-label-close">Close</span><span class="toggle-icon"><span class="line"></span><span class="line"></span></span></button>
    </div>
    <ul id="nav">
      <li class="nav-item active"><a class="nav-link" href="index.html">home</a></li>
      <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">pages</a>
        <div class="dropdown-menu"><a class="dropdown-item" href="about.html">About</a><a class="dropdown-item" href="services.html">Services</a><a class="dropdown-item" href="404.html">404</a></div>
      </li>
      <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">portfolio</a>
        <div class="dropdown-menu"><a class="dropdown-item" href="projects-grid.html">Projects - Grid</a><a class="dropdown-item" href="projects-slider.html">Projects - Slider</a><a class="dropdown-item" href="projects-lightbox.html">Projects - Lightbox</a><a class="dropdown-item" href="project-single.html">Project single</a><a class="dropdown-item" href="project-single-hero.html">Project single - Hero</a><a class="dropdown-item" href="project-single-alt.html">Project single - Alt</a></div>
      </li>
      <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">blog</a>
        <div class="dropdown-menu"><a class="dropdown-item" href="blog-slider.html">Blog - Slider</a><a class="dropdown-item" href="blog-grid.html">Blog - Grid</a><a class="dropdown-item" href="blog-single.html">Blog single</a><a class="dropdown-item" href="blog-single-alt.html">Blog single - Alt</a><a class="dropdown-item" href="blog-single-hero.html">Blog single - Hero</a></div>
      </li>
      <li class="nav-item"><a class="nav-link" href="contact.html">contact</a></li>
    </ul>
  </header>