.frame {
  position: absolute;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.middle {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  z-index: 1;
  top: 10px;
  background: salmon;
}
