.chroma {
  width: 20%;
}
.map {
  width: "100%";
  height: "200";
}
.headtext {
  font-size: 120px;
}

@media only screen and (max-width: 768px) {
  .chroma {
    width: 60%;
  }
  .map {
    width: "100%";
    height: "200";
  }
  .headtext {
    font-size: 60px;
  }
}
