<footer>
    <div class="container-fluid p-5">
      <div class="d-flex justify-content-between align-items-center">
        <div class="social"><a class="trigger" href="#">Follow</a>
          <ul class="social-nav">
            <li> <a target="_blank" href="https://nitt.wiki/index.php/Graphique">NITT WIKI</a></li>
            <li> <a target="_blank" href="https://www.facebook.com/graphique.nitt"><i class="fab fa-facebook-f"></i>                Facebook</a></li>
            <li> <a target="_blank" href="https://www.youtube.com/graphiquenitt">YouTube</a></li>
            <li> <a target="_blank" href="https://www.behance.net/graphiquenitt">Behance</a></li>
            <li> <a target="_blank" href="https://www.instagram.com/graphique.nitt/">Instagram</a></li>
          </ul>
        </div>
        <div class="copy">2022 &copy; Graphique. All rights reserved</div><a class="to-top" href="#">
          <svg class="bi" width="32" height="32" fill="currentColor">
            <use xlink:href="images/bootstrap-icons.svg#chevron-compact-up"></use>
          </svg></a>
      </div>
    </div>
  </footer>